/* My CSS */

* {
    margin: 12px auto;
}

body {
    width: 600px;
    text-align: center;
}

button {
    min-height: 48px;
    min-width: 48px;
    border-radius: 15px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    /* color: darkslategray; */
}

button:hover {
    cursor: pointer;
    background-color: #4caf50;
}

h1, h2, h3, h4, h5, h6 {
    color: darkslategray;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

#result {
    height: 45px;
}

#scoreboard {
    /* font-family: 'Courier New', Courier, monospace; */
    margin: 0px auto;
    text-align: right;
}
.scoreboard {
    width: 100%;
}

.pre-wrap {
    white-space: pre-wrap;
}

.font-small {
    font-size: 0.87em;
}

.subtle {
    color: darkslategray;
}

.rules {
    position: relative;
    height: 45px;
}

.rules p {
    position: absolute;
    bottom: 0;
    left: 0;
}

.font-large {
    font-size: 2.5em;
}

.strong {
    font-weight: bold;
}

.red {
    color: red;
}

.card {
    /* TODO - add card styling */
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
}