/* Main CSS */

* {
    margin: 0px auto;
}

body {
    width: 375px;
    text-align: center;
    border: dotted 1px rgb(182, 182, 182);
    background-color: snow;
    margin: 10px auto;
}

header, main div {
    background-color: white;
    padding: 5px 0px;
}

button {
    min-height: 48px;
    min-width: 48px;
    border-radius: 15px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    /* color: darkslategray; */
}

button:hover {
    cursor: pointer;
    background-color: #4caf50;
}

h1, h2, h3, h4, h5, h6 {
    color: darkslategray;
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0px 0px;
}

#result {
    height: 30px;
    color: blue;
}

#scoreboard {
    /* font-family: 'Courier New', Courier, monospace; */
    margin: 0px auto;
    text-align: right;
}

.pre-wrap {
    white-space: pre-wrap;
}

.font-small {
    font-size: 0.87em;
}

.subtle {
    color: darkslategray;
}

/* .rules {
    position: relative;
    height: 45px;
}

.rules p {
    position: absolute;
    bottom: 0;
    left: 0;
} */

.font-large {
    font-size: 2.7em;
}

.strong {
    font-weight: bold;
}

.red {
    color: red;
}

/* .card {
    TODO - add card styling
} */