/* Mobile CSS */

body {
    width: 96%;
    border: none;
    background-color: white;
    margin: 2%;
}

/* SIZES IN CASE WANT TO CHANGE LATER

button {
    min-height: 48px;
    min-width: 48px;
    font-size: 1.1em;
}

#result {
    height: 30px;
}

.font-small {
    font-size: 0.87em;
}

.font-large {
    font-size: 2.7em;
} */