/* My CSS */

* {
    margin: 8px;
}

button:hover {
    cursor: pointer;
    background-color: #4caf50;
}

#result {
    font-weight: bold;
    font-size: 1.2em;
    color: blue;
}

.subtle {
    color: gray;
}